<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <% include ../static/partials/navbar.ejs %>

      <main class="container">
        <% include ../static/partials/messages.ejs %>

        Confirmation: We received your payment of <strong>$15.00</strong>!

      </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>