<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

            <% if(currentUser && currentUser.role == "standard") { %>
            <h1>Upgrade and become a Premium member!</h1>
            <ul>
                <li>Create private wikis.</li>
                <li>Collaborate with other premium members.</li>
                <li>More coming soon!</li>
            </ul>
            <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    			    data-key="<%=publishableKey%>"
    			    data-amount="1500"
    			    data-name="Blocipedia Demo Site"
    			    data-description="Premium Membership Payment"
    			    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    			    data-locale="auto">
                </script>
            </form>
           <% } else { %>
           <% if(currentUser.role === "premium") { %> 
            <h1>Downgrade Membership</h1>
            
            <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
                <button type="submit" class="btn btn-danger">Downgrade your membership</button>
            </form>
       <% } %>
       <% } %>
        
        </main>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>